[Desktop Entry]
Name=Fig
Comment=Sleek GIF editor.
Exec=fig
Icon=io.github.Q1CHENL.fig
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true