[Desktop Entry]
Name=Fig
Comment=Your application description
Exec=fig
Icon=org.flatpak.fig
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true 