/* Window and headerbar styles */
window {
    background-color: #242424;
    margin: 0;
    padding: 0;
}

headerbar {
    background-color: #242424;
    color: white;
    box-shadow: none;
    border: none;
    border-radius: 12px 12px 0 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Specific menu button style */
headerbar .menu-button {
    border-radius: 50%;
    background: none;  /* Ensure no background by default */
}

headerbar .menu-button:hover {
    background-color: rgba(255, 255, 255, 0.1);  /* Only show background on hover */
}


/* Home screen buttons */
.select-gif-button {
    background-color: white;
    color: black;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
}

.select-gif-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.about-fig-button {
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
}

.about-fig-button:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Editor buttons */
.save-button {
    border-radius: 20px;
    background-color: white;
    color: black;
    transition: all 0.2s ease-in-out;
}

.save-button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.play-button {
    border-radius: 20px;
    color: white;
    background-color: #383838;
    border: none;
    transition: all 0.2s ease-in-out;
}

.play-button:hover {
    background-color: #454545;
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


/* Image display styles */
.image-display {
    margin: 0;
    padding: 0;
    margin-top: 0;
    background-color: grey;
}

/* Handle styles */
.handle-hover {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.2));
    transform: scale(1.05);
}